In [1]:
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from nltk.stem import WordNetLemmatizer
import string

In [2]:
df = pd.read_csv('C:\\Users\\Z004FPSK\\Downloads\\TwitterHate.csv')
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [3]:
df.shape

(31962, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [5]:
df.drop(columns='id',inplace=True)

In [6]:
df.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [7]:
df.isna().sum()

label    0
tweet    0
dtype: int64

In [8]:
df['label'].unique()

array([0, 1], dtype=int64)

In [9]:
df.label.unique()

array([0, 1], dtype=int64)

In [10]:
df['tweet']=df['tweet'].str.lower()
df['tweet'].head()

0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

In [11]:
import nltk
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [12]:
STOPWORDS = set(stopwords.words('english'))
def cleaningStopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
df['tweet'] = df['tweet'].apply(lambda text: cleaningStopwords(text))
df['tweet'].sample(5)

9478     happy world gin day one all! #worldginday #fav...
27661    looking feel #joy? join 20 speakers free summi...
12940    oh, leeds... love you! looking beautiful sunsh...
7722     yoyas market deming nm sell beer i'm white sai...
322                     hahaha.. last #friday &amp; #weird
Name: tweet, dtype: object

In [13]:

english_punctuations = string.punctuation
punctuations_list = english_punctuations
def cleaningPunctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)
df['tweet'] = df['tweet'].apply(lambda x: cleaningPunctuations(x))
df['tweet'].sample(5)

24909                               join trump melania way
6035     things change consider normal way life heabrok...
9648     u  think that u somebodys reason masturbate th...
7681     came home ððð wifehappylife wifehappy...
11503    look got running truckerhat user thank u user ...
Name: tweet, dtype: object

In [14]:
def cleaningRepeatingChar(text):
    return re.sub(r'(.)1+', r'1', text)
df['tweet'] = df['tweet'].apply(lambda x: cleaningRepeatingChar(x))
df['tweet'].sample(5)

5926     ð´ð¸ð´ shootingshootsarushimaislandsumme...
31746                 user thank thoughts prayers victims
5606                         user gearing user sclhorizons
5079     conservative white boys yea calling punks boy ...
21750    get groove on pay stas tonight beduin 6pm5am d...
Name: tweet, dtype: object

In [15]:
def cleaningURLs(data):
    return re.sub('((www.[^s]+)|(https?://[^s]+))',' ',data)
df['tweet'] = df['tweet'].apply(lambda x: cleaningURLs(x))
df['tweet'].sample(5)

3344     shows animals every bit emotional amp capable ...
20914    user sneak peek next issue on sale tomorrow wo...
24856    amazing much mood improve deciding let go prod...
11965            wrong some people ððorlandoshooting
2926     ð user user team new mc user amp show phill...
Name: tweet, dtype: object

In [16]:
def cleaningNumbers(data):
    return re.sub('[0-9]+', '', data)
df['tweet'] = df['tweet'].apply(lambda x: cleaningNumbers(x))
df['tweet'].head(5)

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause of...
2                                       bihday majesty
3    model love u take u time urð± ðððð...
4                        factsguide society motivation
Name: tweet, dtype: object

In [17]:
from nltk.stem import WordNetLemmatizer
 
lemmatizer = WordNetLemmatizer()

In [18]:
def nltkPreprocessing(df):
    df['tweet'] = df.apply(lambda row: nltk.word_tokenize(row['tweet']), axis=1)
    df['tweet'] = df['tweet'].apply(lambda x: [lemmatizer.lemmatize(y) for y in x])
    df['tweet'] = [' '.join(map(str, l)) for l in df['tweet']]
    return df

In [19]:
dfPreprocessed = nltkPreprocessing(df)

In [20]:
dfPreprocessed.head()

   label                                              tweet
0      0  user father dysfunctional selfish drag kid dys...
1      0  user user thanks lyft credit cant use cause of...
2      0                                     bihday majesty
3      0  model love u take u time urð± ðððð...
4      0                      factsguide society motivation

In [21]:
dfPreprocessed.tail()

       label                                              tweet
31957      0  ate user isz youuuððððððð...
31958      0  see nina turner airwave trying wrap mantle gen...
31959      0     listening sad song monday morning otw work sad
31960      1  user sikh temple vandalised calgary wso condem...
31961      0                                  thank user follow