In [1]:
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.stem import WordNetLemmatizer
import string

In [2]:
df = pd.read_csv('C:\\Users\\Z004FPSK\\Downloads\\TwitterHate.csv')
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [3]:
df.shape

(31962, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [5]:
df.drop(columns='id',inplace=True)

In [6]:
df.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [7]:
df.isna().sum()

label    0
tweet    0
dtype: int64

In [8]:
df['label'].unique()

array([0, 1], dtype=int64)

In [10]:
df.label.unique()

array([0, 1], dtype=int64)

In [11]:
df['tweet']=df['tweet'].str.lower()
df['tweet'].head()

0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

In [12]:
import nltk
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [13]:
STOPWORDS = set(stopwords.words('english'))
def cleaningStopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
df['tweet'] = df['tweet'].apply(lambda text: cleaningStopwords(text))
df['tweet'].sample(5)

16686    #gfest #muskogee #notputtogether #whattheheck ...
15271    quotestags_app #depressed #feelings #quote #br...
10314                  @user many haters witjin human race
23171    tom jerry + icepole - see someone feeling bett...
7035                   day ruined kill now!! #done #ruined
Name: tweet, dtype: object

In [14]:

english_punctuations = string.punctuation
punctuations_list = english_punctuations
def cleaningPunctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)
df['tweet'] = df['tweet'].apply(lambda x: cleaningPunctuations(x))
df['tweet'].sample(5)

10476                                oh god  ass cute sexy
30463    life good  whenintagaytay goodvibes smile me v...
23653    joking matter officers fired joke target pract...
27895    message hope newyear building business end sto...
15460    operation 365 2  jefferson jay  covers  178 bo...
Name: tweet, dtype: object

In [15]:
def cleaningRepeatingChar(text):
    return re.sub(r'(.)1+', r'1', text)
df['tweet'] = df['tweet'].apply(lambda x: cleaningRepeatingChar(x))
df['tweet'].sample(5)

9377                     user user mom recent ððð
14786    tipical fly mode bike ride everything everywhe...
2663                                  user game 61st quaer
15866                        u gotta reset alarms 6 go run
9342     wise words often come black americans reaction...
Name: tweet, dtype: object

In [16]:
def cleaningURLs(data):
    return re.sub('((www.[^s]+)|(https?://[^s]+))',' ',data)
df['tweet'] = df['tweet'].apply(lambda x: cleaningURLs(x))
df['tweet'].sample(5)

11810       tennessee 5 daysð graceland bearails hiking
18423                                        user e s ð
24707    cant wait superman celebration user im going1t...
14277                                    babies fathersday
25392    user please correct universal blood donor is o...
Name: tweet, dtype: object

In [17]:
def cleaningNumbers(data):
    return re.sub('[0-9]+', '', data)
df['tweet'] = df['tweet'].apply(lambda x: cleaningNumbers(x))
df['tweet'].sample(5)

6253             user saturday morning wonderful followers
12342    italy tomorrow client pr work lifeofluxuries b...
20325    user  man may afraid him anyone found willing ...
28852    little polski sklep good me agingdisgracefully...
27283          wanna watch conjuring you one wants come me
Name: tweet, dtype: object